node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Local Netlify folder
.netlify

# EAS local builds
build-*.ipa

coverage
cypress/downloads

Surely.app

# native project directories
android
ios
